# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [3]:
import pandas as pd

# Read the CSV files
df1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

# Display the first few rows of each DataFrame
print('df1')
print(df1.head())
print('\ndf2')
print(df2.head())
print('\ndf3')
print(df3.head())

df1
  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

df2
  Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      Policy Type  Vehicle Class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto     Luxury Car
4  Corporate Auto   Two-Door Car

df3
  Customer       State  Customer Lifetime Value             Education Gender  \
0  SA25987  Washington              3479.137523  High School or Below      M
1  TB86706     Arizona              2502.637401                Master      M
2  ZL73902      Nevada              3265.156348              Bachelor      F
3  KX23516  California              4455.843406  High School or Below      F
4  FN77294  California              7704.958480  High School or Below      M

   Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
0       0                   104                          0  Personal Auto
1       0                    66                          0  Personal Auto
2   25820                    82                          0  Personal Auto
3       0                   121                          0  Personal Auto
4   30366                   101                          2  Personal Auto

   Total Claim Amount  Vehicle Class
0          499.200000   Two-Door Car
1            3.468912   Two-Door Car
2          393.600000  Four-Door Car
3          699.615192            SUV
4          484.800000            SUV

### Standarize column names:
- 'ST' to 'state' in df1 and df2
- all to lower case
- replace empty space with underscores

In [5]:
dataframes = [df1, df2, df3]

def standardize_column_names(df):
    for df in dataframes:
        df.columns = (df.columns
                   .str.lower()                
                   .str.replace(' ', '_')) 
    return df
        
standardize_column_names(dataframes)
print('df1', df1.columns.tolist())
print('df2', df2.columns.tolist())
print('df3', df3.columns.tolist())

df1 ['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']
df2 ['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'total_claim_amount', 'policy_type', 'vehicle_class']
df3 ['customer', 'state', 'customer_lifetime_value', 'education', 'gender', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'total_claim_amount', 'vehicle_class']

### Use consistent naming conventions

In [7]:
column_mapping = {
    'st': 'state',
    'customer_lifetime_value': 'lifetime_value',
    'monthly_premium_auto': 'monthly_auto_premium',
    'number_of_open_complaints': 'open_complaints',
    'vehicle_class': 'vehicle_type',
}

def rename_columns(df):   
        for df in dataframes:
            df.rename(columns=column_mapping, inplace=True) # rename the columns using the mapping
        return df
     
rename_columns(dataframes)

print('df1', df1.columns.tolist())
print('df2', df2.columns.tolist())
print('df3', df3.columns.tolist())

df1 ['customer', 'state', 'gender', 'education', 'lifetime_value', 'income', 'monthly_auto_premium', 'open_complaints', 'policy_type', 'vehicle_type', 'total_claim_amount']
df2 ['customer', 'state', 'gender', 'education', 'lifetime_value', 'income', 'monthly_auto_premium', 'open_complaints', 'total_claim_amount', 'policy_type', 'vehicle_type']
df3 ['customer', 'state', 'lifetime_value', 'education', 'gender', 'income', 'monthly_auto_premium', 'open_complaints', 'policy_type', 'total_claim_amount', 'vehicle_type']

In [8]:
# Display the first few rows of each DataFrame
print('df1')
print(df1.head(25))
print('\ndf2')
print(df2.head(25))
print('\ndf3')
print(df3.head(25))

df1
   customer       state gender             education lifetime_value   income  \
0   RB50392  Washington    NaN                Master            NaN      0.0
1   QZ44356     Arizona      F              Bachelor     697953.59%      0.0
2   AI49188      Nevada      F              Bachelor    1288743.17%  48767.0
3   WW63253  California      M              Bachelor     764586.18%      0.0
4   GA49547  Washington      M  High School or Below     536307.65%  36357.0
5   OC83172      Oregon      F              Bachelor     825629.78%  62902.0
6   XZ87318      Oregon      F               College     538089.86%  55350.0
7   CF85061     Arizona      M                Master     721610.03%      0.0
8   DY87989      Oregon      M              Bachelor    2412750.40%  14072.0
9   BQ94931      Oregon      F               College     738817.81%  28812.0
10  SX51350  California      M               College     473899.20%      0.0
11  VQ65197  California    NaN               College     819719.71%      0.0
12  DP39365  California    NaN                Master     879879.70%  77026.0
13  SJ95423     Arizona    NaN  High School or Below     881901.89%  99845.0
14  IL66569  California    NaN               College     538443.17%  83689.0
15  BW63560      Oregon    NaN              Bachelor     746313.94%  24599.0
16  FV94802      Nevada    NaN  High School or Below     256686.78%  25049.0
17  OE15005        Cali    NaN               College     394524.16%  28855.0
18  WC83389      Oregon    NaN               College     571033.31%  51148.0
19  FL50705  California    NaN  High School or Below     816261.71%  66140.0
20  ZK25313      Oregon    NaN  High School or Below     287205.13%  57749.0
21  QK46697  Washington      M             Bachelors     617710.93%  61040.0
22  YH23384     Arizona    NaN              Bachelor    2412750.40%  14072.0
23  TZ98966      Nevada    NaN              Bachelor     245019.10%      0.0
24  HM55802  California    NaN              Bachelor     239210.79%  17870.0

    monthly_auto_premium open_complaints     policy_type   vehicle_type  \
0                 1000.0          1/0/00   Personal Auto  Four-Door Car
1                   94.0          1/0/00   Personal Auto  Four-Door Car
2                  108.0          1/0/00   Personal Auto   Two-Door Car
3                  106.0          1/0/00  Corporate Auto            SUV
4                   68.0          1/0/00   Personal Auto  Four-Door Car
5                   69.0          1/0/00   Personal Auto   Two-Door Car
6                   67.0          1/0/00  Corporate Auto  Four-Door Car
7                  101.0          1/0/00  Corporate Auto  Four-Door Car
8                   71.0          1/0/00  Corporate Auto  Four-Door Car
9                   93.0          1/0/00    Special Auto  Four-Door Car
10                  67.0          1/0/00   Personal Auto  Four-Door Car
11                 110.0          1/0/00   Personal Auto            SUV
12                 110.0          1/2/00  Corporate Auto  Four-Door Car
13                 110.0          1/1/00  Corporate Auto            SUV
14                  70.0          1/2/00  Corporate Auto  Four-Door Car
15                  64.0          1/1/00  Corporate Auto  Four-Door Car
16                  67.0          1/0/00   Personal Auto   Two-Door Car
17                 101.0          1/0/00   Personal Auto            SUV
18                  72.0          1/0/00   Personal Auto  Four-Door Car
19                 101.0          1/0/00  Corporate Auto  Four-Door Car
20                  74.0          1/0/00   Personal Auto   Two-Door Car
21                  79.0          1/1/00   Personal Auto   Two-Door Car
22                  71.0          1/0/00   Personal Auto  Four-Door Car
23                  73.0          1/3/00  Corporate Auto  Four-Door Car
24                  61.0          1/0/00  Corporate Auto  Four-Door Car

    total_claim_amount
0             2.704934
1          1131.464935
2           566.472247
3           529.881344
4            17.269323
5           159.383042
6           321.600000
7           363.029680
8           511.200000
9           425.527834
10          482.400000
11          528.000000
12          472.029737
13          528.000000
14          307.139132
15           42.920271
16          454.245098
17          647.442031
18          308.981664
19          484.800000
20          355.200000
21           20.382876
22          511.200000
23          554.376763
24          439.200000

df2
   customer       state gender             education lifetime_value  income  \
0   GS98873     Arizona      F              Bachelor     323912.47%   16061
1   CW49887  California      F                Master     462680.11%   79487
2   MY31220  California      F               College     899704.02%   54230
3   UH35128      Oregon      F               College    2580706.30%   71210
4   WH52799     Arizona      F               College     380812.21%   94903
5   WL99637     Arizona      M              Bachelor     761413.80%   27293
6   UC84059  California      F                Master     689845.53%   70950
7   HW62747      Oregon      M               College     229837.92%       0
8   BH11344      Oregon      F                Doctor     280669.61%   37009
9   TX28465      Nevada      M               College     520611.82%   52629
10  OK56965  California      F              Bachelor    4570865.34%   31264
11  WT22392      Oregon      F               College     800734.91%   65473
12  PH85036  Washington      F             Bachelors     548254.94%   79325
13  KC71643      Oregon      M  High School or Below     246323.68%   99144
14  NR32615  California      M               College     549894.07%   22520
15  GS69842     Arizona      F              Bachelor     524382.80%   36615
16  WT71621  Washington      F             Bachelors     328045.73%   63297
17  KD23847     Arizona      F  High School or Below     488654.43%   76374
18  PE59368  Washington      F             Bachelors     512348.50%   72096
19  NK91488      Nevada      M                Master     547955.51%   56005
20  CR33417  Washington      F                Master     476215.70%   36529
21  WP73172      Oregon      F              Bachelor     828767.93%   81367
22  PS30217  California      F              Bachelor     988665.64%   44817
23  EL62967      Oregon      F  High School or Below     271291.56%   58508
24  MU23938      Oregon      M              Bachelor    1047767.63%   45259

    monthly_auto_premium open_complaints  total_claim_amount     policy_type  \
0                     88          1/0/00          633.600000   Personal Auto
1                    114          1/0/00          547.200000    Special Auto
2                    112          1/0/00          537.600000   Personal Auto
3                    214          1/1/00         1027.200000   Personal Auto
4                     94          1/0/00          451.200000  Corporate Auto
5                     96          1/0/00          469.030907   Personal Auto
6                    171          1/0/00          565.929394   Personal Auto
7                     63          1/0/00          302.400000  Corporate Auto
8                     71          1/0/00          145.673348  Corporate Auto
9                     65          1/0/00          136.684141   Personal Auto
10                   198          1/1/00          825.657746   Personal Auto
11                    67          1/0/00          277.685667   Personal Auto
12                    68          1/0/00          251.294821  Corporate Auto
13                    61          1/0/00          292.800000  Corporate Auto
14                    73          1/0/00          350.400000  Corporate Auto
15                    65          1/0/00          264.563772    Special Auto
16                    82          1/0/00          251.756739   Personal Auto
17                    61          1/0/00          292.800000   Personal Auto
18                  6464          1/0/00          252.330905   Personal Auto
19                    68          1/1/00          326.400000   Personal Auto
20                   118          1/0/00          255.005116   Personal Auto
21                   103          1/0/00          415.768941    Special Auto
22                    83          1/0/00          527.421579   Personal Auto
23                    69          1/0/00           57.614392   Personal Auto
24                   138          1/0/00          272.217171   Personal Auto

     vehicle_type
0   Four-Door Car
1             SUV
2    Two-Door Car
3      Luxury Car
4    Two-Door Car
5    Two-Door Car
6      Sports Car
7   Four-Door Car
8    Two-Door Car
9   Four-Door Car
10     Luxury SUV
11  Four-Door Car
12  Four-Door Car
13  Four-Door Car
14  Four-Door Car
15  Four-Door Car
16  Four-Door Car
17  Four-Door Car
18   Two-Door Car
19  Four-Door Car
20            SUV
21            SUV
22  Four-Door Car
23   Two-Door Car
24            SUV

df3
   customer       state  lifetime_value             education gender  income  \
0   SA25987  Washington     3479.137523  High School or Below      M       0
1   TB86706     Arizona     2502.637401                Master      M       0
2   ZL73902      Nevada     3265.156348              Bachelor      F   25820
3   KX23516  California     4455.843406  High School or Below      F       0
4   FN77294  California     7704.958480  High School or Below      M   30366
5   VI78454     Arizona     2750.705045               College      M   51789
6   FP59138      Oregon    13024.130120                Master      M       0
7   XN62489      Oregon     2538.626320              Bachelor      M   18608
8   GP66031  California     2585.955652               College      F   83758
9   IX68587      Nevada     5096.673223                Master      F   22886
10  HX17929  California    10083.486880  High School or Below      F   11828
11  IC59236  California     4943.386117               College      F   44762
12  VG31922      Nevada     6516.214888              Bachelor      F       0
13  HP87787     Arizona     8838.085637              Bachelor      M   82664
14  AL78075      Oregon     3810.238281  High School or Below      M       0
15  WA97671     Arizona     6334.466403              Bachelor      M       0
16  QZ77637  Washington    11665.097790               College      F   84978
17  FP11777  California    10972.067780                Doctor      M   24164
18  ID45268  California     6006.963446               College      F       0
19  AX86150  Washington     2656.713092  High School or Below      M   62777
20  MW57614     Arizona     2359.423599              Bachelor      F   19864
21  TJ30081     Arizona    12036.620510              Bachelor      M   44428
22  FW44940  California     8467.387317              Bachelor      F   21139
23  CS55808  California     9392.557553               College      M       0
24  WZ61178  California     5227.230377              Bachelor      F   11896

    monthly_auto_premium  open_complaints     policy_type  total_claim_amount  \
0                    104                0   Personal Auto          499.200000
1                     66                0   Personal Auto            3.468912
2                     82                0   Personal Auto          393.600000
3                    121                0   Personal Auto          699.615192
4                    101                2   Personal Auto          484.800000
5                     70                0   Personal Auto          336.000000
6                    125                0   Personal Auto          900.000000
7                     71                0  Corporate Auto          340.800000
8                     64                0  Corporate Auto          106.591949
9                     65                0   Personal Auto          312.000000
10                    90                0   Personal Auto          571.479602
11                    62                0  Corporate Auto          114.514440
12                   175                0   Personal Auto         1221.143438
13                   114                3  Corporate Auto          133.425609
14                   108                0   Personal Auto          777.600000
15                    63                0   Personal Auto          302.400000
16                    72                1  Corporate Auto          166.772960
17                   137                0  Corporate Auto          657.600000
18                    80                0   Personal Auto          488.910614
19                    67                0   Personal Auto          101.288069
20                    63                0   Personal Auto          352.394515
21                   104                0   Personal Auto          499.200000
22                   113                0   Personal Auto          656.798232
23                    88                0   Personal Auto          851.146266
24                    69                0   Personal Auto          476.254583

     vehicle_type
0    Two-Door Car
1    Two-Door Car
2   Four-Door Car
3             SUV
4             SUV
5   Four-Door Car
6             SUV
7   Four-Door Car
8    Two-Door Car
9   Four-Door Car
10  Four-Door Car
11  Four-Door Car
12            SUV
13            SUV
14  Four-Door Car
15  Four-Door Car
16  Four-Door Car
17     Sports Car
18  Four-Door Car
19   Two-Door Car
20  Four-Door Car
21            SUV
22     Sports Car
23  Four-Door Car
24   Two-Door Car

### Check datatypes of each column

In [ ]:
def get_column_datatypes(dataframes):
    for df in dataframes:
        print(f"\nData Types:\n")
        print(df.dtypes)

get_column_datatypes(dataframes)

# print("df1 Data Types:")
# print(df1.dtypes)

### Convert column datatypes:
- income: int64 (df1)
- monthly_auto_premium: int64 (df1)

(the lambda function will take NaN values into account, while converting floats into integers and removing the dot notation)

In [33]:
import numpy as np

df1['income'] = df1['income'].apply(lambda x: int(np.floor(x)) if pd.notna(x) else x).astype('Int64')
df1['monthly_auto_premium'] = df1['monthly_auto_premium'].apply(lambda x: int(np.floor(x)) if pd.notna(x) else x).astype('Int64')


df1.head(50)

,customer,state,gender,education,lifetime_value,income,monthly_auto_premium,open_complaints,policy_type,vehicle_type,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0,1000,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0,94,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767,108,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0,106,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357,68,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902,69,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350,67,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0,101,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072,71,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812,93,1/0/00,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20%,0,67,1/0/00,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,NaN,College,819719.71%,0,110,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,Master,879879.70%,77026,110,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,High School or Below,881901.89%,99845,110,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,College,538443.17%,83689,70,1/2/00,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,NaN,Bachelor,746313.94%,24599,64,1/1/00,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,NaN,High School or Below,256686.78%,25049,67,1/0/00,Personal Auto,Two-Door Car,454.245098
17,OE15005,Cali,NaN,College,394524.16%,28855,101,1/0/00,Personal Auto,SUV,647.442031
18,WC83389,Oregon,NaN,College,571033.31%,51148,72,1/0/00,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,NaN,High School or Below,816261.71%,66140,101,1/0/00,Corporate Auto,Four-Door Car,484.800000
20,ZK25313,Oregon,NaN,High School or Below,287205.13%,57749,74,1/0/00,Personal Auto,Two-Door Car,355.200000
21,QK46697,Washington,M,Bachelors,617710.93%,61040,79,1/1/00,Personal Auto,Two-Door Car,20.382876
22,YH23384,Arizona,NaN,Bachelor,2412750.40%,14072,71,1/0/00,Personal Auto,Four-Door Car,511.200000
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0,73,1/3/00,Corporate Auto,Four-Door Car,554.376763
24,HM55802,California,NaN,Bachelor,239210.79%,17870,61,1/0/00,Corporate Auto,Four-Door Car,439.200000
25,FS42516,Oregon,NaN,College,580206.60%,97541,72,1/0/00,Personal Auto,Four-Door Car,389.185006
26,US89481,California,NaN,Bachelor,394637.21%,0,111,1/0/00,Personal Auto,Four-Door Car,799.200000
27,HS14476,Washington,M,College,916206.32%,29723,80,1/0/00,Personal Auto,Four-Door Car,20.985105
28,GE62437,AZ,NaN,College,1290256.01%,86584,111,1/2/00,Personal Auto,Four-Door Car,532.800000
29,EJ77678,Oregon,NaN,Master,323536.05%,75690,80,1/1/00,Personal Auto,Four-Door Car,384.000000
30,SV85652,Arizona,NaN,College,245458.35%,23158,63,1/1/00,Personal Auto,Four-Door Car,322.294043
31,UL64533,Nevada,NaN,High School or Below,1897545.61%,65999,237,1/0/00,Corporate Auto,Luxury SUV,615.927769
32,PF41800,California,NaN,Bachelor,471532.13%,0,65,1/0/00,Personal Auto,Four-Door Car,308.150890
33,HD95276,Washington,F,College,473787.17%,0,130,1/0/00,Personal Auto,SUV,23.820158
34,SK67821,Oregon,NaN,Bachelor,493291.63%,37260,62,1/0/00,Corporate Auto,Four-Door Car,15.437681
35,YV55495,Arizona,NaN,High School or Below,574422.97%,68987,71,1/0/00,Personal Auto,Four-Door Car,204.475147
36,KY38074,California,NaN,Bachelor,1389173.57%,42305,117,1/0/00,Personal Auto,Four-Door Car,561.600000
37,DM79012,Oregon,NaN,Master,738097.67%,65706,91,1/0/00,Personal Auto,Four-Door Car,436.800000
38,CM61827,Oregon,NaN,Bachelor,309003.41%,0,90,1/0/00,Personal Auto,Two-Door Car,648.000000
39,WC35801,Arizona,NaN,High School or Below,252163.31%,53243,66,1/2/00,Personal Auto,Four-Door Car,157.397849
40,QG25316,Nevada,NaN,High School or Below,265206.18%,0,70,1/1/00,Corporate Auto,Two-Door Car,484.318536
41,MB98372,Oregon,NaN,College,277104.50%,50071,71,1/0/00,Corporate Auto,Two-Door Car,18.918935
42,IL19217,California,NaN,Bachelor,393900.64%,60021,99,1/0/00,Personal Auto,Four-Door Car,882.871945
43,SR38658,Arizona,NaN,High School or Below,1223187.97%,43244,103,1/0/00,Personal Auto,Sports Car,494.400000
44,YD87931,Washington,M,Doctor,495165.61%,46896,35354,1/1/00,Personal Auto,Four-Door Car,31.707317
45,HG65722,Oregon,NaN,Doctor,1281910.29%,10105,172,1/3/00,Personal Auto,SUV,0.517753
46,BU27331,Arizona,NaN,Bachelor,446851.05%,0,73,1/3/00,Personal Auto,Four-Door Car,579.165954
47,XM45289,Oregon,NaN,High School or Below,551434.40%,23218,71,1/0/00,Personal Auto,Two-Door Car,447.793440
48,KP34198,California,NaN,Bachelor,334387.53%,0,92,1/0/00,Corporate Auto,Four-Door Car,529.624084
49,SH90947,Arizona,NaN,High School or Below,229447.89%,0,62,1/0/00,Personal Auto,Four-Door Car,313.023175

### Convert fractions to string in 'open_complaints' (df3)

In [49]:
def convert_fraction_to_integer(value):
    if isinstance(value, str):
        return int(value.split('/')[0])  # Take the first part as integer
    return value

# Apply the conversion function to the 'open_complaints' column
df3['open_complaints'] = df3['open_complaints'].apply(convert_fraction_to_integer)

print(df3)

     customer       state  lifetime_value             education gender  \
0     SA25987  Washington     3479.137523  High School or Below      M
1     TB86706     Arizona     2502.637401                Master      M
2     ZL73902      Nevada     3265.156348              Bachelor      F
3     KX23516  California     4455.843406  High School or Below      F
4     FN77294  California     7704.958480  High School or Below      M
...       ...         ...             ...                   ...    ...
7065  LA72316  California    23405.987980              Bachelor      M
7066  PK87824  California     3096.511217               College      F
7067  TD14365  California     8163.890428              Bachelor      M
7068  UP19263  California     7524.442436               College      M
7069  Y167826  California     2611.836866               College      M

      income  monthly_auto_premium  open_complaints     policy_type  \
0          0                   104                0   Personal Auto
1          0                    66                0   Personal Auto
2      25820                    82                0   Personal Auto
3          0                   121                0   Personal Auto
4      30366                   101                2   Personal Auto
...      ...                   ...              ...             ...
7065   71941                    73                0   Personal Auto
7066   21604                    79                0  Corporate Auto
7067       0                    85                3  Corporate Auto
7068   21941                    96                0   Personal Auto
7069       0                    77                0  Corporate Auto

      total_claim_amount   vehicle_type
0             499.200000   Two-Door Car
1               3.468912   Two-Door Car
2             393.600000  Four-Door Car
3             699.615192            SUV
4             484.800000            SUV
...                  ...            ...
7065          198.234764  Four-Door Car
7066          379.200000  Four-Door Car
7067          790.784983  Four-Door Car
7068          691.200000  Four-Door Car
7069          369.600000   Two-Door Car

[7070 rows x 11 columns]

### Merge DataFrames

In [59]:
# Merge the datasets vertically
merged_df = pd.concat([df1, df2, df3], ignore_index=True, sort=False)

# Group by columns and sum up matching ones
final_df = merged_df.groupby(merged_df.columns.tolist(), as_index=False).sum()

print(final_df)

     customer       state gender             education lifetime_value  income  \
0     AA10041  California      M  High School or Below    7901.744238       0
1     AA11235      Nevada      F              Bachelor    2568.843396   11167
2     AA16582  Washington      M              Bachelor    24127.50402   14072
3     AA30683  California      M              Bachelor    6595.101921       0
4     AA34092  California      M               College    28799.95415   33635
...       ...         ...    ...                   ...            ...     ...
9002  ZZ77357      Nevada      M  High School or Below      4468.2209       0
9003  ZZ83340      Oregon      F                Doctor     550831.55%   96021
9004  ZZ89380      Oregon      F              Bachelor    3196.578455   62815
9005  ZZ91716  California      F              Bachelor     325676.64%       0
9006  ZZ97035  California      M               College    2071494.04%       0

      monthly_auto_premium open_complaints     policy_type   vehicle_type  \
0                      113               0   Personal Auto            SUV
1                       73               3   Personal Auto   Two-Door Car
2                       71               0   Personal Auto  Four-Door Car
3                      105               2   Personal Auto  Four-Door Car
4                      240               0   Personal Auto     Luxury SUV
...                    ...             ...             ...            ...
9002                    65               0  Corporate Auto   Two-Door Car
9003                    68          1/0/00   Personal Auto   Two-Door Car
9004                    80               0    Special Auto   Two-Door Car
9005                    89          1/0/00   Personal Auto  Four-Door Car
9006                   203          1/0/00  Corporate Auto     Luxury Car

      total_claim_amount
0            1258.327804
1             350.400000
2             511.200000
3             847.717402
4            1152.000000
...                  ...
9002          468.000000
9003          315.004602
9004           47.061469
9005          491.755368
9006         2027.724442

[9007 rows x 11 columns]

### Check unique values

In [57]:
# def find_unique_values(df):
#     for df in dataframes:
#         unique_values = df.apply(lambda col: col.unique())
#         for column, unique in unique_values.items():
#             print(f"Unique values in '{column}': {unique}")

# find_unique_values(dataframes)

unique_values = df1.apply(lambda col: col.unique())
for column, unique in unique_values.items():
    print(f"Unique values in '{column}': {unique}")

Unique values in 'customer': ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
Unique values in 'state': ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values in 'gender': [nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values in 'education': ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values in 'lifetime_value': [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
Unique values in 'income': <IntegerArray>
[    0, 48767, 36357, 62902, 55350, 14072, 28812, 77026, 99845, 83689,
 ...
 86946, 12160, 33701, 85702, 69417, 38644, 63209, 16061, 54230,  <NA>]
Length: 775, dtype: Int64
Unique values in 'monthly_auto_premium': <IntegerArray>
[1000,   94,  108,  106,   68,   69,   67,  101,   71,   93,
 ...
  239,  188,  256,  173,  285,  148,  141,  197,  199, <NA>]
Length: 133, dtype: Int64
Unique values in 'open_complaints': ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Unique values in 'policy_type': ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values in 'vehicle_type': ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Unique values in 'total_claim_amount': [2.70493400e+00 1.13146493e+03 5.66472247e+02 5.29881344e+02
 1.72693230e+01 1.59383042e+02 3.21600000e+02 3.63029680e+02
 5.11200000e+02 4.25527834e+02 4.82400000e+02 5.28000000e+02
 4.72029737e+02 3.07139132e+02 4.29202710e+01 4.54245098e+02
 6.47442031e+02 3.08981664e+02 4.84800000e+02 3.55200000e+02
 2.03828760e+01 5.54376763e+02 4.39200000e+02 3.89185006e+02
 7.99200000e+02 2.09851050e+01 5.32800000e+02 3.84000000e+02
 3.22294043e+02 6.15927769e+02 3.08150890e+02 2.38201580e+01
 1.54376810e+01 2.04475147e+02 5.61600000e+02 4.36800000e+02
 6.48000000e+02 1.57397849e+02 4.84318536e+02 1.89189350e+01
 8.82871945e+02 4.94400000e+02 3.17073170e+01 5.17753000e-01
 5.79165954e+02 4.47793440e+02 5.29624084e+02 3.13023175e+02
 5.93830288e+02 5.08800000e+02 1.73956072e+02 3.31928030e+01
 8.31625979e+02 3.02565190e+02 7.04768111e+02 5.18400000e+02
 3.12000000e+02 5.04000000e+02 8.63327324e+02 1.04331355e+02
 6.76391482e+02 3.50400000e+02 5.37600000e+02 4.65258644e+02
 4.56000000e+02 5.00254235e+02 2.81451042e+02 5.43450500e+00
 3.07200000e+02 9.82399613e+02 4.67803638e+02 2.90341600e+01
 4.11223030e+01 4.27631210e+02 2.58076850e+01 7.87993313e+02
 4.89600000e+02 3.02400000e+02 4.75623251e+02 4.52150590e+01
 4.60800000e+02 2.82151207e+02 3.64800000e+02 6.79827592e+02
 4.60414520e+01 1.18790370e+01 3.50529033e+02 8.63394700e+02
 4.92127532e+02 1.32588288e+02 2.97600000e+02 2.69905129e+02
 3.80036697e+02 5.13600000e+02 4.25266308e+02 4.90110990e+01
 9.36000000e+02 1.42062768e+02 4.51525210e+01 3.05673570e+01
 2.71606799e+02 4.08000000e+02 4.61581170e+01 7.84800000e+02
 3.16800000e+02 4.80468690e+01 6.38400000e+02 4.65633954e+02
 3.68400146e+02 2.36902001e+02 4.94511170e+01 6.41096630e+01
 3.26400000e+02 9.21600000e+02 1.01896450e+02 5.42400000e+02
 1.43747794e+02 4.24077159e+02 5.04221810e+01 5.23200000e+02
 1.13801497e+02 1.92875720e+02 8.28662719e+02 9.75107098e+02
 5.37987080e+01 5.05283550e+01 2.89912200e+02 3.92604371e+02
 7.21242206e+02 4.56523850e+02 1.08799543e+03 5.19619150e+01
 2.51992083e+02 3.45600000e+02 9.92576080e+01 5.67315780e+01
 5.75623240e+01 6.04800000e+02 8.31272900e+00 3.16599228e+02
 5.63007240e+01 3.93600000e+02 7.01708239e+02 1.28705563e+02
 6.79368378e+02 5.99871260e+01 5.66400000e+02 6.16542620e+01
 5.54400000e+02 4.65414770e+02 4.96800000e+02 2.92800000e+02
 2.56813837e+02 5.42319401e+02 3.03148399e+02 2.54380630e+01
 8.40244130e+01 6.16937710e+01 2.32926145e+02 6.81797210e+01
 7.10433775e+02 5.52000000e+02 1.12265890e+03 4.08374746e+02
 7.92000000e+02 7.54358929e+02 7.02990032e+02 2.06837111e+02
 2.75395894e+02 4.59738128e+02 3.36000000e+02 4.30994107e+02
 1.83600000e+03 6.76324760e+01 8.44481918e+02 7.22486994e+02
 5.90400000e+02 4.81027516e+02 1.12442773e+03 6.69682001e+02
 1.28409317e+03 2.40259479e+02 9.12000000e+02 5.56800000e+02
 1.15086827e+02 4.70400000e+02 3.83167471e+02 3.07963291e+02
 5.20364752e+02 4.66436375e+02 4.51670309e+02 3.31200000e+02
 4.28734656e+02 3.98400000e+02 3.69600000e+02 8.31752839e+02
 1.56124914e+02 3.73428187e+02 3.95934815e+02 2.31201886e+02
 2.89904105e+02 7.29600000e+02 1.05765111e+02 6.39464548e+02
 3.83442328e+02 9.90859430e+01 5.66935022e+02 4.12800000e+02
 3.88800000e+02 2.34541344e+03 7.73470977e+02 4.24883448e+02
 3.64240307e+02 3.54729129e+02 2.83995953e+02 4.03200000e+02
 2.05431760e+01 3.85115437e+02 1.40165035e+02 1.02879769e+02
 5.68682890e+01 4.63158502e+02 2.05444066e+02 7.41600000e+02
 5.63719670e+01 8.13600000e+02 7.95864079e+02 6.14400000e+02
 7.24386810e+01 6.78815460e+01 4.02636829e+02 6.41388616e+02
 3.42481173e+02 3.40800000e+02 4.12101933e+02 7.37005730e+01
 3.74400000e+02 7.22024742e+02 2.59361117e+02 3.96295614e+02
 3.58281562e+02 6.53388564e+02 1.21032372e+02 9.28133960e+01
 1.59636956e+02 4.76156957e+02 7.27200000e+02 4.20783450e+01
 2.00116060e+02 6.76944023e+02 7.66092950e+01 8.30623064e+02
 5.80473259e+02 6.00366830e+01 4.75310100e+01 3.03872752e+02
 1.00620067e+02 4.81339891e+02 1.10160000e+03 8.63200220e+01
 6.67200000e+02 5.66033300e+01 2.62865172e+02 3.09577946e+02
 3.65364581e+02 7.05600000e+02 9.51528000e+00 2.44564334e+02
 6.39105556e+02 4.53600000e+02 5.54522969e+02 4.02449823e+02
 3.27020539e+02 5.39530000e+00 1.31401291e+02 9.93829430e+01
 8.56800000e+02 7.39200000e+02 8.42183630e+01 6.45468770e+01
 4.41600000e+02 3.79106230e+01 2.02860399e+02 8.58098170e+01
 9.11466610e+01 2.86234931e+02 1.15920000e+03 4.66570791e+02
 1.25240623e+03 4.21484456e+02 4.30505942e+02 3.98502948e+02
 7.64676300e+00 5.55105260e+01 3.51270869e+02 8.06400000e+02
 6.47454583e+02 1.28438230e+02 3.02033971e+02 4.80000000e+02
 1.00316063e+03 3.79200000e+02 2.44362072e+02 2.01455005e+02
 9.15509800e+01 9.18346680e+01 7.07430832e+02 9.29152510e+01
 3.76126419e+02 1.52184244e+02 1.76819414e+02 1.04454624e+02
 9.41718054e+02 4.68000000e+02 9.40303080e+01 6.78598810e+01
 5.39843003e+02 9.51931570e+01 9.53385050e+01 6.26400000e+02
 4.94395024e+02 1.15545086e+02 1.99389810e+01 7.99926741e+02
 8.78400000e+02 4.44470676e+02 2.68819985e+02 1.01288069e+02
 1.31760000e+03 6.91412378e+02 8.04811859e+02 1.09086434e+03
 5.05870350e+01 1.51528482e+02 3.47075948e+02 2.71697529e+02
 8.49600000e+02 1.10484661e+02 1.13534474e+02 5.95200000e+02
 1.13609508e+02 1.33706349e+03 1.14273025e+02 1.25194389e+02
 2.35220971e+02 3.95341110e+02 1.14798771e+02 7.72798511e+02
 6.33600000e+02 1.68517149e+02 8.45654042e+02 1.15728852e+02
 6.68293970e+02 7.00901632e+02 5.25600000e+02 2.52990000e+01
 3.75330097e+02 4.18233667e+02 3.98240791e+02 9.38513425e+02
 3.38619869e+02 3.39344531e+02 3.02818833e+02 6.19165344e+02
 2.59561195e+02 1.79161843e+02 6.62400000e+02 7.55018520e+01
 3.06983596e+02 8.40268480e+01 1.39489926e+02 6.07445900e+02
 6.31124372e+02 6.28023494e+02 4.26655599e+02 9.14179230e+01
 3.17844812e+02 1.18446235e+02 8.64615820e+01 1.18454974e+02
 3.62774545e+02 2.21856184e+02 9.80169081e+02 6.14675906e+02
 1.45252168e+02 3.74240783e+02 6.19200000e+02 8.06692570e+01
 1.32480000e+03 4.68566133e+02 8.42437850e+02 4.75200000e+02
 1.17193117e+03 2.68471802e+02 1.38722385e+02 4.67248020e+02
 4.67503236e+02 1.21440000e+03 1.92085299e+02 6.19973889e+02
 1.00278255e+03 2.51774574e+02 8.66208321e+02 1.21092095e+03
 5.99648466e+02 2.02772444e+03 7.28520470e+01 4.49819671e+02
 2.59060862e+02 2.99356083e+02 6.99167900e+02 1.17959654e+02
 5.45240341e+02 3.28231432e+02 6.65686420e+01 1.38240000e+03
 1.21306839e+02 6.09600000e+02 1.25933005e+02 6.55413330e+02
 6.73342650e+02 2.38104910e+01 4.51200000e+02 2.31922173e+02
 7.72800000e+02 6.64980242e+02 1.28645946e+02 4.64920390e+01
 4.32000000e+02 7.80851490e+01 5.64466556e+02 2.89040734e+02
 1.55938593e+02 3.26549425e+02 6.53656680e+02 1.03935601e+02
 8.09532341e+02 5.80725310e+02 1.33735395e+02 2.38005074e+02
 1.57767442e+03 1.35892444e+02 1.35261250e+02 5.71200000e+02
 6.37063458e+02 7.59360960e+01 1.36291083e+02 6.75309040e+01
 3.12921256e+02 1.66937747e+02 1.35382194e+02 1.77429540e+01
 1.83836700e+00 1.97776009e+02 6.12102262e+02 1.19303615e+03
 6.00000000e+02 1.36829537e+02 9.26400000e+02 3.92636400e+02
 2.15226476e+02 1.60598662e+02 3.71803029e+02 4.43670399e+02
 6.12300581e+02 2.90391526e+02 3.16795337e+02 4.05527937e+02
 2.08598246e+02 1.38130879e+02 3.01437365e+02 4.56473115e+02
 1.52338562e+02 4.91755368e+02 4.85174390e+01 4.30375049e+02
 2.46489123e+02 1.28969729e+02 1.85355353e+02 1.30080000e+03
 9.07130500e+00 1.33475315e+02 1.41199465e+02 6.23223617e+02
 4.27200000e+02 1.41725051e+02 2.11336937e+02 1.47080303e+02
 8.62762957e+02 1.13367765e+02 9.43200000e+02 1.17672722e+02
 2.25145949e+02 1.82432565e+02 1.48173152e+02 1.55570802e+02
 2.12391975e+02 1.74041566e+02 4.86278557e+02 1.92470900e+00
 2.62122050e+02 5.41695658e+02 3.27682669e+02 1.26557030e+03
 6.30431970e+01 1.56313630e+01 3.75866091e+02 4.52616872e+02
 1.13450122e+02 1.60345100e+01 6.15272280e+02 6.15256301e+02
 5.12662450e+02 7.45239350e+01 4.26072946e+02 1.69287785e+02
 4.19464143e+02 1.58077504e+02 6.69600000e+02 3.95729716e+02
 1.59756733e+02 5.85575520e+01 8.58297100e+00 2.85418473e+02
 4.10508316e+02 2.44231350e+02 2.18598065e+02 6.43826716e+02
 4.97047297e+02 1.02240000e+03 6.57600000e+02 2.30245772e+02
 5.62275100e+00 1.60075260e+02 3.46513050e+01 6.78100487e+02
 1.74588413e+02 1.59391681e+02 6.98400000e+02 2.32711071e+02
 1.63046956e+02 7.98656050e+01 3.82085897e+02 4.83483190e+01
 1.33425609e+02 5.61414794e+02 4.45287788e+02 1.65570243e+02
 4.07996840e+02 8.44229478e+02 3.40306584e+02 1.06647493e+02
 6.26116259e+02 7.84657810e+02 5.47200000e+02 8.62777200e+01
 6.35165720e+01 1.20015609e+02 1.25413790e+03 4.17600000e+02
 7.98002689e+02 8.20416840e+01 2.28190880e+01 4.22400000e+02
 6.39971388e+02 5.11497882e+02 2.39540223e+02 5.18180364e+02
 7.15252366e+02 4.02070719e+02 9.48140320e+01 9.72000000e+02
 7.38830440e+01 5.74024018e+02 6.32715382e+02 4.23862600e+00
 4.22480870e+01 2.71451510e+01 2.70002766e+02 4.94946438e+02
 1.42567008e+02 2.51334247e+02 3.69818708e+02 1.61419528e+02
 2.55999709e+02 6.17695640e+01 1.31040000e+03 2.50001424e+02
 1.41799422e+02 4.97970160e+01 3.72175592e+02 5.42143850e+02
 1.36080000e+03 7.68000000e+02 7.26329340e+01 7.20601429e+02
 5.76000000e+02 4.81025786e+02 4.66176731e+02 1.59266473e+02
 4.12831670e+01 5.03808329e+02 8.59599411e+02 3.05653785e+02
 2.78902846e+02 1.41600000e+03 1.39963594e+02 7.34400000e+02
 3.72998650e+01 9.58165160e+01 1.00800000e+03 4.46400000e+02
 7.22053620e+01 4.01592109e+02 2.53183568e+02 6.43200000e+02
 7.99673766e+02 2.79878670e+01 1.66772960e+02 2.70563995e+02
 1.78006524e+02 4.04265696e+02 5.13818403e+02 1.31828507e+02
 6.28800000e+02 1.78986788e+02 3.92235698e+02 8.73600000e+02
 3.82107000e-01 1.87363583e+02 3.50853987e+02 2.17973168e+02
 2.59340640e+01 1.88938397e+02 1.53205591e+02 2.89323968e+03
 6.29532731e+02 3.61284757e+02 1.18598830e+03 4.25800112e+02
 1.90434460e+02 1.93505325e+02 2.40877740e+01 2.19288706e+02
 8.81360959e+02 2.69516270e+01 4.66122541e+02 6.07095655e+02
 2.90381707e+02 5.58099357e+02 8.28000000e+02 5.40514115e+02
 1.00049832e+02 5.98619630e+01 1.93570320e+02 1.99797270e+02
 5.30847530e+01 2.56438030e+02 2.11136067e+02 7.43508930e+01
 6.21464468e+02 3.60055890e+02 6.59548130e+01 4.07450118e+02
 1.22880000e+03 2.40636930e+01 3.11329282e+02 4.26891350e+01
 4.60323855e+02 2.13225001e+02 3.00607591e+02 2.62504882e+02
 2.63365432e+02 2.56268091e+02 2.15818200e+02 1.35360000e+03
 4.99200000e+02 4.55079520e+01 6.91200000e+02 8.24099220e+01
 3.57642982e+02 4.20356980e+02 1.36787725e+02 2.20186677e+02
 1.70798204e+02 2.66165535e+02 9.89217820e+01 2.81295903e+02
 6.31743039e+02 2.92095210e+01 1.36883999e+02 3.17556010e+01
 2.24275820e+02 8.30400000e+02 4.80159011e+02 3.90792553e+02
 7.20711950e+01 4.19652520e+01 1.02700003e+03 3.19820747e+02
 4.11011162e+02 4.11058500e+00 3.51149904e+02 2.84000172e+02
 4.96474767e+02 9.25137143e+02 1.31640970e+01 2.27872071e+02
 4.63335061e+02 1.80667969e+02 3.02764283e+02 1.41922839e+02
 3.49783046e+02 5.40655380e+01 3.42515136e+02 1.02717726e+03
 2.75989978e+02 4.72599683e+02 1.33693172e+03 7.34594600e+00
 5.40141566e+02 3.83363758e+02 5.37765151e+02 3.21873474e+02
 1.95756830e+01 1.08138715e+02 7.07303416e+02 1.06733313e+03
 8.07947292e+02 6.18630955e+02 4.04272806e+02 7.10400000e+02
 7.07977614e+02 2.32242326e+02 6.82260010e+01 2.87149807e+02
 3.91636628e+02 2.39328571e+02 2.32674417e+02 3.36509610e+02
 2.44212286e+02 3.28870868e+02 8.50637080e+01 1.41840000e+03
 3.34408717e+02 4.20964150e+01 3.00528579e+02 1.44782152e+02
 6.45982160e+01 3.47857619e+02 2.45447622e+02 9.55200000e+02
 7.20752945e+02 3.40656963e+02 5.46524896e+02 4.89411833e+02
 1.71325856e+02 2.49085887e+02 3.08748690e+01 3.61455219e+02
 2.07320041e+02            nan]

### Handle unique values:

df1:

'state' column:
- 'Cali' - 'California'
- 'AZ': 'Arizona'
- 'WA':

'gender' column:
- 'Femal': 'F'
- 'Male': 'M'
- 'female': 'F'
- nan - ??

'education' column:
- Bachelors' to 'Bachelor'
- nan - ??

'lifetime_value' column:
- nan - ??

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [15]:
# Your code goes here

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [20]:
# Your code goes here