# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
import pandas as pd

# Read the CSV files
df1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

# Display the first few rows of each DataFrame
print('df1')
print(df1.head())
print('\ndf2')
print(df2.head())
print('\ndf3')
print(df3.head())

### Standarize column names:
- 'ST' to 'state' in df1 and df2
- all to lower case
- replace empty space with underscores

In [ ]:
dataframes = [df1, df2, df3]

def standardize_column_names(df):
    for df in dataframes:
        df.columns = (df.columns
                   .str.lower()                
                   .str.replace(' ', '_')) 
    return df
        
standardize_column_names(dataframes)
print('df1', df1.columns.tolist())
print('df2', df2.columns.tolist())
print('df3', df3.columns.tolist())

### Use consistent naming conventions

In [ ]:
column_mapping = {
    'st': 'state',
    'customer_lifetime_value': 'lifetime_value',
    'monthly_premium_auto': 'monthly_auto_premium',
    'number_of_open_complaints': 'open_complaints',
    'vehicle_class': 'vehicle_type',
}

def rename_columns(df):   
        for df in dataframes:
            df.rename(columns=column_mapping, inplace=True) # rename the columns using the mapping
        return df
     
rename_columns(dataframes)

print('df1', df1.columns.tolist())
print('df2', df2.columns.tolist())
print('df3', df3.columns.tolist())

In [ ]:
# Display the first few rows of each DataFrame
print('df1')
print(df1.head(25))
print('\ndf2')
print(df2.head(25))
print('\ndf3')
print(df3.head(25))

### Check datatypes of each column

In [ ]:
def get_column_datatypes(dataframes):
    for df in dataframes:
        print(f"\nData Types:\n")
        print(df.dtypes)

get_column_datatypes(dataframes)

# print("df1 Data Types:")
# print(df1.dtypes)

### Convert column datatypes:
- income: int64 (df1)
- monthly_auto_premium: int64 (df1)

(the lambda function will take NaN values into account, while converting floats into integers and removing the dot notation)

In [ ]:
import numpy as np

df1['income'] = df1['income'].apply(lambda x: int(np.floor(x)) if pd.notna(x) else x).astype('Int64')
df1['monthly_auto_premium'] = df1['monthly_auto_premium'].apply(lambda x: int(np.floor(x)) if pd.notna(x) else x).astype('Int64')


df1.head(50)

### Convert fractions to string in 'open_complaints' (df3)

In [ ]:
def convert_fraction_to_integer(value):
    if isinstance(value, str):
        return int(value.split('/')[0])  # Take the first part as integer
    return value

# Apply the conversion function to the 'open_complaints' column
df3['open_complaints'] = df3['open_complaints'].apply(convert_fraction_to_integer)

print(df3)

### Merge DataFrames

In [ ]:
# Merge the datasets vertically
merged_df = pd.concat([df1, df2, df3], ignore_index=True, sort=False)

# Group by columns and sum up matching ones
merged_df = merged_df.groupby(merged_df.columns.tolist(), as_index=False).sum()

print(merged_df)

### Check unique values

In [ ]:
unique_values = merged_df.apply(lambda col: col.unique())
for column, unique in unique_values.items():
    print(f"Unique values in '{column}': {unique}")

### Handle unique values:

'state' column:
- 'Cali': 'California'
- 'AZ': 'Arizona'
- 'WA': 'Washington'

'gender' column:
- 'Femal': 'F'
- 'Male': 'M'
- 'female': 'F'

'education' column:
- Bachelors': 'Bachelor'
- Doctor: PhD

### Gender column:
Rename unique values

In [ ]:
gender_mapping = {
    'Femal': 'F',
    'Male': 'M',
    'female': 'F'
}

merged_df['gender'] = merged_df['gender'].replace(gender_mapping)

### State column
Rename unique values

In [ ]:
state_mapping = {
    'Cali': 'California',
    'AZ': 'Arizona',
    'WA': 'Washington'
}

# Replace the values in the 'state' column based on the mapping
merged_df['state'] = merged_df['state'].replace(state_mapping)

### Education colum
Rename unique values

In [ ]:
education_mapping = {
    'Bachelors': 'Bachelor',
    'Doctor': 'PhD',
    'High School or Below': 'High School'
}

# Replace the values in the 'education' column based on the mapping
merged_df['education'] = merged_df['education'].replace(education_mapping)

print(merged_df)

### Vehicle column

In [ ]:
vehicle_type_mapping = {
    'SUV': 'SUV',
    'Two-Door Car': 'Coupe',
    'Four-Door Car': 'Sedan',
    'Sports Car': 'Sport Car',
    'Luxury Car': 'Luxury Sedan'
}

# Replace the values in the 'vehicle_type' column based on the mapping
merged_df['vehicle_type'] = merged_df['vehicle_type'].replace(vehicle_type_mapping)

print(merged_df)

In [ ]:
unique_values = merged_df.apply(lambda col: col.unique())
for column, unique in unique_values.items():
    print(f"Unique values in '{column}': {unique}")

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

### Load data

In [ ]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
data = pd.read_csv(url)

In [ ]:
# Check the first few rows of the dataset
print(data.head())

# Get a summary of the dataset
print("\nDataset summary\n")
print(data.info())

# Get basic statistics for numerical columns
print("\nBasic stats for numerical columns\n")
print(data.describe())

### Rename columns

In [ ]:
# Rename columns
data.columns = [
    'index', 'customer_id', 'state', 'lifetime_value', 'response',
    'coverage_type', 'education', 'effective_to_date', 'employment_status',
    'gender', 'income', 'location_code', 'marital_status', 'monthly_premium_auto',
    'months_since_last_claim', 'months_since_policy_inception', 'open_complaints',
    'policies_count', 'policy_type', 'policy_id', 'renew_offer_type',
    'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
    'vehicle_type', 'month'
]

# print("\nDataset summary\n")
# print(data.info())

### Check unique values

In [ ]:
unique_values = data.apply(lambda col: col.unique())
for column, unique in unique_values.items():
    print(f"Unique values in '{column}': {unique}")

In [ ]:
data

### Data cleaning

In [ ]:
# check missing values
missing_values = data.isnull().sum()
print(missing_values[missing_values > 0])

In [ ]:
# drop duplicates (there were none)
data = data.drop_duplicates()

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.
Analyze the resulting table to draw insights.

### Total revenue by sales channel

In [ ]:
total_revenue_by_channel = data.pivot_table(
    index='sales_channel',
    values='total_claim_amount',
    aggfunc='sum'
).round(2)
print("Total revenue by sales channel\n")
display(total_revenue_by_channel)

### Insights from Total Revenue by Sales Channel

- Branch: If this channel has the highest revenue, it could indicate strong in-person relationships and trust.
- Call Center: A significant amount of revenue here might reflect effective customer service.
- Web: High web revenue could suggest a successful online marketing strategy.
- Mail: If this is lower, it may indicate a need to improve direct mail campaigns.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [ ]:
### Average customer lifetime value per gender and education level

In [ ]:
average_clv_by_gender_education = data.pivot_table(
    index='gender',
    columns='education',
    values='lifetime_value',
    aggfunc='mean'
).round(2)

print("Average customer lifetime value per gender and education level\n")
display(average_clv_by_gender_education)

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

### Group Data

In [ ]:
# group by policy type and month, counting the number of complaints
complaints_summary = data.groupby(['policy_type', 'month'])['open_complaints'].sum().reset_index()

print("Complaints summary\n")
display(complaints_summary)

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*